/**
* Include template scss
* Depends on 
*   - bootstrap-adminlte: npm:bootstrap@4.6.1
*/
@import "../template/scss/adminlte.scss";

/**Application Styling*/
@import "./pages";
@import "./plugins";
@import "./custom";

@import "./animation-effects";

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
