rules_version = '2';
service cloud.firestore {
  	match /databases/{database}/documents {
		//PROJECT RULES
		match /apaul_message/{messageID}{
			allow read: if false;
			allow write: if 
			request.resource.data.name is string &&
			request.resource.data.email is string &&
			request.resource.data.phone is string &&
			request.resource.data.message is string
		}
		//-------------START OF MAIN MODULE RULES-------------//
		match /main_blog/{blogID}{
			allow read: if true;
		}
		match /main_user/{userID}{
			allow read: if true;
		}
		match /main_info/{infoID}{
			allow read: if true;
		}
		//-------------END OF MAIN MODULE RULES-------------//

		//-------------START OF TRC MODULE RULES-------------//
		match /tra_user/{userID}{
			allow read, update, delete: if 
				request.auth != null && resource.data["uid"] == request.auth.uid;
			allow create: if request.auth != null
		}
		match /tra_appdata/{appDataID}{
			allow read, update, delete: if 
				request.auth != null &&
				resource.data["uid"] == request.auth.uid;
			allow create: if request.auth != null
		}
		match /tra_trade_setting/{settingsID}{
			allow read, update, delete: if request.auth != null && request.auth.uid == resource.data["uid"];
			allow create: if request.auth != null
		}
		match /tra_trade/{tradeID}{
			allow read, update, delete: if 
				request.auth != null && resource.data["createdBy"] == request.auth.uid;
			allow update: if
				request.auth != null && resource.data["createdBy"] == request.auth.uid &&
				request.time == request.resource.data.lastUpdatedDate;	
			allow create: if 
				request.auth != null &&
				request.time == request.resource.data.createdDate;	
		}

		//-------------END OF TRC MODULE RULES-------------//
		// match /{document=**} {
		// 	allow read, write: if request.auth != null; 
		// }
	}
}